html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

.bg-publication {
  background-color: #F5F5FA;
}

@media screen and (max-width: 760px) {
  .bg-publication .container1 {
    max-width: 315px;
  }
}
.bg1 {
  background-color: #1C4280;
  transition: all ease-in-out 0.3s;
}

.bg1:hover {
  background-color: #163363;
}

.bg2 {
  background-color: #143646;
  transition: all ease-in-out 0.3s;
}

.bg2:hover {
  background-color: #0f2a36;
}

.bg3 {
  background-color: #F48B30;
  transition: all ease-in-out 0.3s;
}

.bg3:hover {
  background-color: #ce660b;
}

.bg4 {
  background-color: #9E4DC3;
  transition: all ease-in-out 0.3s;
}

.bg4:hover {
  background-color: #741d9d;
}

.bg5 {
  background-color: #FD9339;
  transition: all ease-in-out 0.3s;
}

.bg5:hover {
  background-color: #ee750b;
}

.bg6 {
  background-color: #E2E2E4;
  transition: all ease-in-out 0.3s;
}

.bg6:hover {
  background-color: #cccce7;
}

.bg7 {
  background-color: #C71C36;
  transition: all ease-in-out 0.3s;
}

.bg7:hover {
  background-color: #ac0921;
}

.bg8 {
  background-color: #DCF3F9;
  transition: all ease-in-out 0.3s;
}

.bg8:hover {
  background-color: #c0e9f3;
}

.bg9 {
  background-color: #EAEAEA;
  transition: all ease-in-out 0.3s;
}

.bg9:hover {
  background-color: #eddcdc;
}

.bg10 {
  background-color: #282240;
  transition: all ease-in-out 0.3s;
}

.bg10:hover {
  background-color: #1d1737;
}

.bg11 {
  background-color: #1D4568;
  transition: all ease-in-out 0.3s;
}

.bg11:hover {
  background-color: #0d3354;
}

.bg12 {
  background-color: #000000;
  transition: all ease-in-out 0.3s;
}

.bg12:hover {
  background-color: #201b1b;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container1 {
  max-width: 1920px;
  padding: 0 160px;
  margin: 0 auto;
  z-index: 1;
}

@media screen and (max-width: 1700px) {
  .container1 {
    padding: 0 60px;
  }
}
@media screen and (max-width: 700px) {
  .container1 {
    padding: 0 15px;
  }
}
.container2 {
  max-width: 1920px;
  padding: 0 100px;
  margin: 0 auto;
}

@media screen and (max-width: 1700px) {
  .container2 {
    padding: 0;
  }
}
.bg-gradient {
  background: rgb(50, 50, 100);
  background: -moz-linear-gradient(231deg, rgb(50, 50, 100) 0%, rgb(50, 50, 100) 50%, rgb(100, 62, 114) 100%);
  background: -webkit-linear-gradient(231deg, rgb(50, 50, 100) 0%, rgb(50, 50, 100) 50%, rgb(100, 62, 114) 100%);
  background: linear-gradient(231deg, rgb(50, 50, 100) 0%, rgb(50, 50, 100) 50%, rgb(100, 62, 114) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323264",endColorstr="#643e72",GradientType=1);
  border-radius: 0 0 12px 12px;
  box-shadow: 0px 17px 0px -7px #cacadb, 0px 39px 1px -17px #e7e7f2;
}

.header {
  position: relative;
  height: 92vh;
}

@media screen and (max-width: 1700px) {
  .header {
    height: 115vh;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    height: 142vh;
  }
}
@media screen and (max-width: 700px) {
  .header {
    height: 135vh;
  }
  .header .container1 {
    padding: 0;
  }
}
@media screen and (max-width: 467px) {
  .header {
    height: 138vh;
  }
}
.header__h {
  display: flex;
  justify-content: center;
  position: relative;
  top: -130px;
  overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
  .header__h {
    top: -222px;
  }
}
.header__h img {
  position: absolute;
  height: 95vh;
  width: auto;
}

@media screen and (max-width: 1700px) {
  .header__h img {
    height: 118vh;
  }
}
@media screen and (max-width: 1000px) {
  .header__h img {
    height: 146vh;
  }
}
@media screen and (max-width: 700px) {
  .header__h img {
    display: block;
    object-fit: cover;
  }
}
.header__h h1 {
  height: 96vh;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.9rem;
  font-weight: 700;
  justify-content: center;
  color: white;
}

@media screen and (min-width: 2200px) {
  .header__h h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1700px) {
  .header__h h1 {
    height: 118vh;
  }
}
@media screen and (max-width: 1000px) {
  .header__h h1 {
    height: 146vh;
  }
}
@media screen and (max-width: 600px) {
  .header__h h1 {
    max-width: 145px;
  }
}
.header__team {
  display: flex;
  flex-direction: column;
  color: white;
}

@media screen and (max-width: 850px) {
  .header__team {
    flex-direction: column;
  }
}
.header__team-top {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .header__team-top {
    flex-direction: column;
  }
}
.header__team-top-logo {
  padding-top: 50px;
  display: flex;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .header__team-top-logo {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 700px) {
  .header__team-top-logo {
    padding-left: 15px;
  }
}
.header__team-top-slash {
  display: none;
}

@media screen and (max-width: 700px) {
  .header__team-top-slash {
    display: flex;
    font-size: 3rem;
    font-weight: 700;
    color: #F0145A;
    padding: 0 5px 15px;
    z-index: 1;
  }
}
.header__team-top-services {
  display: none;
}

@media screen and (max-width: 700px) {
  .header__team-top-services {
    display: block;
    z-index: 1;
    font-size: 2rem;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 700px) {
  .header__team-top-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__team-top-media-left {
  display: flex;
  align-items: center;
}

.header__team-top-media-burger {
  display: none;
}

@media screen and (max-width: 700px) {
  .header__team-top-media-burger {
    display: block;
    font-size: 1.7rem;
    padding-right: 22px;
    padding-bottom: 10px;
    transition: all ease-in-out 0.3s;
  }
  .header__team-top-media-burger:active {
    transition: all ease-in-out 0.3s;
  }
}
.header__team-top-right {
  display: flex;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .header__team-top-right {
    order: -1;
  }
}
.header__team-top-right-group {
  display: flex;
  align-items: center;
  padding-top: 55px;
}

@media screen and (max-width: 700px) {
  .header__team-top-right-group {
    background-color: rgba(245, 245, 250, 0.2);
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-top: 17px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 700px) {
  .header__team-top-right-group-leng {
    padding-left: 15px;
  }
}
.header__team-top-right-group-leng a:last-of-type {
  padding-right: 11px;
  margin-right: 6px;
}

.header__team-top-right-group-leng a {
  border: 1px solid transparent;
  padding: 6px 7px;
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
}

.header__team-top-right-group-leng a:hover {
  border: 1px solid #F0145A;
  background-color: #F0145A;
}

.header__team-top-right-group-leng ul {
  display: flex;
}

.header__team-top-right-group-leng ul a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 0.825rem;
  padding-left: 11px;
}

.header__team-top-right-group-dotted {
  padding: 0 10px 7px;
}

@media screen and (max-width: 700px) {
  .header__team-top-right-group-dotted {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .header__team-top-right-group-number {
    padding-right: 15px;
  }
}
.header__team-top-right-group-number a {
  padding-right: 5px;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

.header__team-top-right-group-number a:hover {
  color: #F0145A;
}

.header__team-top-right-group-city {
  padding-right: 5px;
  font-size: 1rem;
}

@media screen and (max-width: 700px) {
  .header__team-top-right-group-city {
    display: none;
  }
}
.header__team-top-right-group-facebook {
  display: block;
}

.header__team-top-right-group-facebook img {
  transition: all ease-in-out 0.3s;
}

.header__team-top-right-group-facebook img:hover {
  filter: invert(61%) sepia(64%) saturate(951%) hue-rotate(-61deg) brightness(98%) contrast(204%);
}

@media screen and (max-width: 700px) {
  .header__team-top-right-group-facebook {
    padding-right: 15px;
    display: none;
  }
}
.header__team-list {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .header__team-list {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 700px) {
  .header__team-list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #323264;
    align-items: flex-end;
    transition: all ease-in-out 0.3s;
  }
  .header__team-list.active {
    top: 0;
  }
}
.header__team-list ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

@media screen and (max-width: 700px) {
  .header__team-list ul {
    display: flex;
    width: 100%;
    background-color: white;
    height: 58%;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
    margin: 0 8px;
  }
}
.header__team-list a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  transition: all ease-in-out 0.3s;
}

@media screen and (max-width: 700px) {
  .header__team-list a {
    color: #24A3FF;
  }
  .header__team-list a:hover {
    color: #F0145A;
  }
}
@media screen and (max-width: 700px) {
  .header__team-list li {
    border: none;
    background-color: #F5F5FA;
    border-radius: 12px;
    padding: 10px 42% 10px;
    transition: all ease-in-out 0.3s;
    width: 85px;
  }
  .header__team-list li:hover {
    background-color: #E6E6F0;
  }
}
@media screen and (max-width: 700px) and (max-width: 600px) {
  .header__team-list li {
    padding: 10px 38% 10px;
  }
}
@media screen and (max-width: 700px) and (max-width: 400px) {
  .header__team-list li {
    padding: 10px 35% 10px;
  }
}
.header__team-list li:hover > a {
  color: #F0145A !important;
}

.header__team-list li:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: transparent;
}

@media screen and (max-width: 700px) {
  .header__team-list li:after {
    display: none;
  }
}
.header__team-list li:hover:after {
  background: #F0145A;
}

@media screen and (max-width: 700px) {
  .header__team-list li:hover:after {
    display: none;
  }
}
.header__arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.header__arrow i {
  border: 1px solid white;
  border-radius: 50px;
  padding: 9px 10px;
  transition: all ease-in-out 0.3s;
}

.header__arrow i:hover {
  border-color: #F0145A;
}

.header__arrow .fa-solid {
  color: white;
  transition: all ease-in-out 0.3s;
}

.header__arrow .fa-solid:hover {
  color: #F0145A;
}

.main__nav {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
  padding: 0 43px 85px;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .main__nav {
    padding: 0 0px 85px;
  }
}
@media screen and (max-width: 1000px) {
  .main__nav {
    flex-direction: column;
    align-items: none;
  }
}
.main__nav-left-tab {
  display: flex;
  flex-direction: column;
  font-size: 2.4rem;
  font-weight: 700;
  color: #B3B3BA;
  text-decoration: none;
  line-height: 70px;
  padding: 0 15px 10px 15px;
  text-align: right;
  transition: all ease-in-out 0.3s;
}

@media screen and (max-width: 1000px) {
  .main__nav-left-tab {
    flex-direction: row;
    white-space: nowrap;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 760px) {
  .main__nav-left-tab {
    font-size: 2rem;
  }
}
.main__nav-left-tab:hover {
  color: #F0145A;
  background: none;
}

.main__nav-border {
  border-right: 4px solid rgba(255, 255, 255, 0.2980392157);
  padding-top: 30px;
  height: 303px;
}

@media screen and (max-width: 1000px) {
  .main__nav-border {
    border: none;
    height: 0;
  }
}
.main__nav-right {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

@media screen and (max-width: 1300px) {
  .main__nav-right {
    max-width: 405px;
  }
}
.main__nav-right-tab-title {
  font-size: 1.625rem;
  font-weight: 700;
  padding-bottom: 30px;
}

@media screen and (max-width: 1880px) {
  .main__nav-right-tab-title {
    max-width: 700px;
  }
}
@media screen and (max-width: 1500px) {
  .main__nav-right-tab-title {
    max-width: 581px;
  }
}
@media screen and (max-width: 1000px) {
  .main__nav-right-tab-title {
    max-width: 750px;
    padding-top: 60px;
  }
}
@media screen and (max-width: 850px) {
  .main__nav-right-tab-title {
    max-width: 648px;
  }
}
.main__nav-right-tab-desc {
  font-size: 1.1rem;
  max-width: 861px;
  line-height: 30px;
}

@media screen and (max-width: 1880px) {
  .main__nav-right-tab-desc {
    max-width: 700px;
  }
}
@media screen and (max-width: 1500px) {
  .main__nav-right-tab-desc {
    max-width: 581px;
  }
}
@media screen and (max-width: 1000px) {
  .main__nav-right-tab-desc {
    max-width: 750px;
  }
}
@media screen and (max-width: 850px) {
  .main__nav-right-tab-desc {
    max-width: 648px;
  }
}
@media screen and (max-width: 700px) {
  .main__nav-right-tab-desc {
    max-width: 400px;
  }
}
@media screen and (max-width: 415px) {
  .main__nav-right-tab-desc {
    max-width: 315px;
  }
}
.main__service {
  display: flex;
  flex-direction: column;
}

.main__service-services h3 {
  font-size: 0.85rem;
  font-weight: 700;
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.main__service-services h3 span {
  font-size: 1.3rem;
  padding-left: 2px;
}

.main__service-services h3:hover {
  color: #F0145A;
}

.main__service-title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #F0145A;
  padding-bottom: 60px;
}

@media screen and (max-width: 740px) {
  .main__service-title h2 {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 760px) {
  .main__service-title h2 {
    font-size: 2rem;
  }
}
.main__service-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main__service-group-item {
  display: flex;
  flex-direction: column;
  max-width: 31%;
  padding: 0 30px 87px 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 1100px) {
  .main__service-group-item {
    padding: 0 10px 87px 0;
  }
}
@media screen and (max-width: 850px) {
  .main__service-group-item {
    max-width: 50%;
  }
}
@media screen and (max-width: 740px) {
  .main__service-group-item {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}
.main__service-group-item-item:nth-of-type(3n) {
  padding-right: 0;
}

.main__service-group-item-foto img {
  max-width: 92px;
  height: auto;
  padding-bottom: 30px;
}

.main__service-group-item-title {
  padding-bottom: 15px;
}

@media screen and (max-width: 1170px) {
  .main__service-group-item-title {
    max-width: 250px;
  }
}
@media screen and (max-width: 850px) {
  .main__service-group-item-title {
    max-width: 294px;
  }
}
@media screen and (max-width: 740px) {
  .main__service-group-item-title {
    max-width: 315px;
  }
}
.main__service-group-item-title a {
  font-size: 1.4rem;
  font-weight: 700;
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}

.main__service-group-item-title a:hover {
  color: #F0145A;
}

.main__service-group-item-desc {
  font-size: 1rem;
  color: #FFFFFF;
  max-width: 493px;
  line-height: 26px;
  padding-top: 15px;
}

@media screen and (max-width: 1450px) {
  .main__service-group-item-desc {
    max-width: 350px;
  }
}
@media screen and (max-width: 1250px) {
  .main__service-group-item-desc {
    max-width: 300px;
  }
}
@media screen and (max-width: 1170px) {
  .main__service-group-item-desc {
    max-width: 230px;
  }
}
@media screen and (max-width: 1050px) {
  .main__service-group-item-desc {
    max-width: 261px;
  }
}
@media screen and (max-width: 850px) {
  .main__service-group-item-desc {
    max-width: 294px;
    padding-left: 0;
  }
}
.main__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5FA;
  margin-top: 60px;
  border: 1px solid transparent;
  border-radius: 20px;
}

@media screen and (max-width: 1000px) {
  .main__slider {
    flex-direction: column;
  }
}
.main__slider-man {
  height: auto;
  border-radius: 1% 0 0 1%;
}

.main__slider-man img {
  width: 400px;
  height: 298px;
  object-fit: cover;
  border-radius: 4% 0 0 4%;
}

@media screen and (max-width: 1530px) {
  .main__slider-man img {
    width: 400px;
    height: 344px;
  }
}
@media screen and (max-width: 1415px) {
  .main__slider-man img {
    width: 400px;
    height: 528px;
    object-fit: cover;
  }
}
@media screen and (max-width: 1000px) {
  .main__slider-man img {
    width: 648px;
    height: 500px;
    object-fit: cover;
    border-radius: 0;
  }
}
@media screen and (max-width: 767px) {
  .main__slider-man img {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
}
@media screen and (max-width: 510px) {
  .main__slider-man img {
    width: 360px;
    height: 500px;
    object-fit: cover;
  }
}
@media screen and (max-width: 375px) {
  .main__slider-man img {
    width: 315px;
    height: 500px;
    object-fit: cover;
  }
}
.main__slider-card {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.main__slider-card-team {
  font-size: 0.85rem;
  color: #24A3FF;
  padding-bottom: 5px;
  padding-top: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  pointer-events: painted;
  transition: all ease-in-out 0.3s;
}

.main__slider-card-team p span {
  font-size: 1.3rem;
}

.main__slider-card-team:hover {
  color: #F0145A;
}

.main__slider-card-desc h2 {
  font-size: 2.4rem;
  font-weight: 700;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-bottom: 60px;
  max-width: 1140px;
  line-height: 46.32px;
}

@media screen and (max-width: 760px) {
  .main__slider-card-desc h2 {
    font-size: 2rem;
  }
}
.main__slider-card-name {
  color: #B3B3BA;
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 6px;
}

.main__slider-card-position {
  color: #B3B3BA;
  font-size: 0.85rem;
  font-weight: 400;
  padding-bottom: 30px;
}

.main__group {
  padding-top: 60px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1700px) {
  .main__group {
    margin-bottom: 0;
  }
}
.main__group-title {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 700;
  color: #323264;
  text-align: center;
  padding-bottom: 30px;
}

.main__group-sponsor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.main__group-sponsor-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 120px;
}

.main__group-sponsor-item:nth-of-type(1) {
  border-radius: 10px 0 0 0;
}

@media screen and (max-width: 1700px) {
  .main__group-sponsor-item:nth-of-type(1) {
    border-radius: 0;
  }
}
.main__group-sponsor-item:nth-of-type(4) {
  border-radius: 0 10px 0 0;
}

@media screen and (max-width: 1700px) {
  .main__group-sponsor-item:nth-of-type(4) {
    border-radius: 0;
  }
}
.main__group-sponsor-item:nth-of-type(9) {
  border-radius: 0 0 0 10px;
}

@media screen and (max-width: 1700px) {
  .main__group-sponsor-item:nth-of-type(9) {
    border-radius: 0;
  }
}
.main__group-sponsor-item:nth-of-type(12) {
  border-radius: 0 0 10px 0;
}

@media screen and (max-width: 1700px) {
  .main__group-sponsor-item:nth-of-type(12) {
    border-radius: 0;
  }
}
.main__group-sponsor-item img {
  max-width: 200px;
}

@media screen and (max-width: 850px) {
  .main__group-sponsor-item {
    width: 33.3333%;
  }
}
@media screen and (max-width: 650px) {
  .main__group-sponsor-item {
    width: 100%;
  }
  .main__group-sponsor-item:nth-of-type(7) {
    display: none;
  }
  .main__group-sponsor-item:nth-of-type(8) {
    display: none;
  }
  .main__group-sponsor-item:nth-of-type(9) {
    display: none;
  }
  .main__group-sponsor-item:nth-of-type(10) {
    display: none;
  }
  .main__group-sponsor-item:nth-of-type(11) {
    display: none;
  }
  .main__group-sponsor-item:nth-of-type(12) {
    display: none;
  }
}
.main__articles {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

@media screen and (max-width: 700px) {
  .main__articles {
    justify-content: center;
  }
}
.main__articles-publication {
  font-size: 0.825rem;
  font-weight: 700;
  padding-bottom: 10px;
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
  text-transform: uppercase;
}

.main__articles-publication span {
  font-size: 1.3rem;
}

.main__articles-publication:hover {
  color: #F0145A;
}

.main__articles-title {
  font-size: 2.4rem;
  font-weight: 700;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-bottom: 30px;
}

@media screen and (max-width: 760px) {
  .main__articles-title {
    font-size: 2rem;
  }
}
.main__articles-card {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  column-gap: 30px;
}

@media screen and (max-width: 760px) {
  .main__articles-card {
    flex-direction: column;
    align-items: center;
  }
}
.main__articles-card-group {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  margin-bottom: 30px;
  border-radius: 12px;
  flex-grow: 1;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .main__articles-card-group:nth-of-type(3) {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .main__articles-card-group:nth-of-type(3) {
    display: block;
  }
}
.main__articles-card-group-wrapper {
  padding: 30px;
}

@media screen and (max-width: 1100px) {
  .main__articles-card-group-wrapper {
    max-width: 300px;
  }
}
.main__articles-card-group-foto {
  text-align: center;
}

.main__articles-card-group-foto img {
  max-width: 510px;
  height: auto;
  border-radius: 12px 12px 0 0;
}

@media screen and (max-width: 1900px) {
  .main__articles-card-group-foto img {
    max-width: 450px;
  }
}
@media screen and (max-width: 1700px) {
  .main__articles-card-group-foto img {
    max-width: 420px;
  }
}
@media screen and (max-width: 1450px) {
  .main__articles-card-group-foto img {
    max-width: 418px;
    height: 200px;
    object-fit: cover;
  }
}
@media screen and (max-width: 1438px) {
  .main__articles-card-group-foto img {
    max-width: 350px;
  }
}
@media screen and (max-width: 1230px) {
  .main__articles-card-group-foto img {
    max-width: 281px;
  }
}
@media screen and (max-width: 1030px) {
  .main__articles-card-group-foto img {
    max-width: 278px;
  }
}
@media screen and (max-width: 1020px) {
  .main__articles-card-group-foto img {
    max-width: 272px;
  }
}
@media screen and (max-width: 1000px) {
  .main__articles-card-group-foto img {
    max-width: 307px;
  }
}
@media screen and (max-width: 760px) {
  .main__articles-card-group-foto img {
    max-width: 315px;
  }
}
.main__articles-card-group-text {
  padding-bottom: 15px;
  max-width: 453px;
}

.main__articles-card-group-text a {
  font-weight: 700;
  font-size: 1rem;
  line-height: 19.5px;
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}

.main__articles-card-group-text a:hover {
  color: #F0145A;
}

.main__articles-card-group-data {
  letter-spacing: 1px;
  font-size: 0.725rem;
  font-weight: 700;
  color: #B3B3BA;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.main__articles-card-group-border {
  color: #E6E6F0;
  border-top: 4px solid #E6E6F0;
  padding-bottom: 15px;
  max-width: 453px;
}

.main__articles-card-group-desc {
  font-size: 0.825rem;
  font-weight: 400;
  line-height: 22px;
  overflow: hidden;
  max-width: 453px;
}

.main__articles-media {
  display: none;
}

@media screen and (max-width: 1000px) {
  .main__articles-media {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .main__articles-media-group {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    border: 1px solid transparent;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .main__articles-media-group-wrapper {
    padding: 30px;
    max-width: 588px;
  }
}
@media screen and (max-width: 1000px) {
  .main__articles-media-group-foto img {
    width: 648px;
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  .main__articles-media-group-text {
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .main__articles-media-group-text a {
    font-weight: 700;
    font-size: 1rem;
    line-height: 19.5px;
    color: #24A3FF;
    transition: all ease-in-out 0.3s;
    text-decoration: none;
  }
}
@media screen and (max-width: 1000px) {
  .main__articles-media-group-text a:hover {
    color: #F0145A;
  }
}
@media screen and (max-width: 1000px) {
  .main__articles-media-group-data {
    letter-spacing: 1px;
    font-size: 0.725rem;
    font-weight: 700;
    color: #B3B3BA;
    padding-bottom: 15px;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 1000px) {
  .main__articles-media-group-border {
    color: #E6E6F0;
    border-top: 4px solid #E6E6F0;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .main__articles-media-group-desc {
    font-size: 0.825rem;
    font-weight: 400;
    line-height: 22px;
    overflow: hidden;
  }
}
@media screen and (max-width: 760px) {
  .main__articles-media {
    display: none;
  }
}
.main__border {
  border-top: 2px solid #E6E6F0;
  padding-bottom: 30px;
}

.swiper-slide {
  height: 410px !important;
}

@media screen and (max-width: 1729px) {
  .swiper-slide {
    height: 460px !important;
  }
}
@media screen and (max-width: 1700px) {
  .swiper-slide {
    height: 410px !important;
  }
}
@media screen and (max-width: 1530px) {
  .swiper-slide {
    height: 460px !important;
  }
}
@media screen and (max-width: 1414px) {
  .swiper-slide {
    height: 640px !important;
  }
}
@media screen and (max-width: 1000px) {
  .swiper-slide {
    height: 1000px !important;
  }
}
@media screen and (max-width: 792px) {
  .swiper-slide {
    height: 1050px !important;
  }
}
@media screen and (max-width: 760px) {
  .swiper-slide {
    height: 995px !important;
  }
}
@media screen and (max-width: 692px) {
  .swiper-slide {
    height: 1040px !important;
  }
}
@media screen and (max-width: 608px) {
  .swiper-slide {
    height: 1090px !important;
  }
}
@media screen and (max-width: 569px) {
  .swiper-slide {
    height: 1130px !important;
  }
}
.swiper .swiper-pagination .swiper-pagination-bullet {
  height: 16px;
  width: 16px;
}

.swiper .swiper-pagination {
  bottom: 0 !important;
}

.footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  padding-bottom: 21px;
}

@media screen and (max-width: 800px) {
  .footer__nav {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
  }
}
.footer__nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 21px;
}

@media screen and (max-width: 800px) {
  .footer__nav-left {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
}
.footer__nav-left-city {
  font-size: 1rem;
  font-weight: 400;
  line-height: 19.5px;
}

@media screen and (max-width: 800px) {
  .footer__nav-left-city {
    padding-bottom: 10px;
  }
}
.footer__nav-left-dotted {
  padding: 0 10px 7px;
}

@media screen and (max-width: 800px) {
  .footer__nav-left-dotted {
    display: none;
  }
}
.footer__nav-left-map {
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 14.63px;
  font-size: 0.7rem;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .footer__nav-left-map {
    padding-bottom: 21px;
  }
}
.footer__nav-left-map a {
  color: #24A3FF;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

.footer__nav-left-map a:hover {
  color: #F0145A;
}

.footer__nav-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 30px;
  row-gap: 10px;
}

@media screen and (max-width: 800px) {
  .footer__nav-bottom {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
}
.footer__nav-bottom-facebook {
  transition: all ease-in-out 0.3s;
}

.footer__nav-bottom-facebook:hover {
  filter: invert(46%) sepia(64%) saturate(951%) hue-rotate(-61deg) brightness(98%) contrast(204%);
}

.footer__nav-bottom-dotted {
  padding: 0 10px 7px;
}

@media screen and (max-width: 800px) {
  .footer__nav-bottom-dotted {
    display: none;
  }
}
.footer__nav-bottom-phone a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 19.5px;
  color: #46466E;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

.footer__nav-bottom-phone a:hover {
  color: #F0145A;
}

.footer__nav-bottom-mail {
  font-size: 1rem;
  font-weight: 700;
  line-height: 19.5px;
}

@media screen and (max-width: 800px) {
  .footer__nav-bottom-mail {
    padding-bottom: 30px;
  }
}
.footer__nav-bottom-mail a {
  color: #24A3FF;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

.footer__nav-bottom-mail a:hover {
  color: #F0145A;
}

.footer__right {
  display: flex;
}

@media screen and (max-width: 800px) {
  .footer__right {
    flex-direction: column;
    align-items: center;
  }
}
.footer__right a {
  color: #B3B3BA;
  text-decoration: none;
  font-size: 1rem;
  line-height: 19.5px;
  font-weight: 400;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.active:focus {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 1000px) {
  .buttonWrapper {
    overflow-x: scroll;
    display: flex;
    flex-direction: none;
    flex-direction: row;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
  }
  .buttonWrapper::-webkit-scrollbar {
    height: 4px;
    margin: 0 auto;
  }
  .buttonWrapper::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3294117647);
    transition: all ease-in-out 0.3s;
  }
  .buttonWrapper::-webkit-scrollbar-thumb:hover {
    background-color: #686887;
  }
}
@media screen and (max-width: 901px) {
  .buttonWrapper {
    max-width: 750px;
  }
}
@media screen and (max-width: 768px) {
  .buttonWrapper {
    max-width: 648px;
  }
}
@media screen and (max-width: 700px) {
  .buttonWrapper {
    max-width: 597px;
  }
}
@media screen and (max-width: 600px) {
  .buttonWrapper {
    max-width: 480px;
  }
}
@media screen and (max-width: 501px) {
  .buttonWrapper {
    max-width: 350px;
  }
}
@media screen and (max-width: 375px) {
  .buttonWrapper {
    max-width: 315px;
  }
}
.buttonWrapper button {
  border: none;
  background: transparent;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3294117647);
  top: 0;
  left: 0;
  z-index: 1;
  opasity: 0;
  visibility: hidden;
}

.popup:target {
  opasity: 1;
  visibility: visible;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__body-content {
  background-color: #fff;
  color: black;
  mx-width: 800px;
  padding: 30px 20px;
  position: relative;
}

.popup__body-content-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #323264;
}

body::-webkit-scrollbar-thumb {
  background-color: #46466E;
  border: 3px solid #323264;
  transition: all ease-in-out 0.3s;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #686887;
}