.bg-publication {
  background-color: #F5F5FA;
}

.bg1 {
  background-color: #1C4280;
  transition: all ease-in-out 0.3s;
}

.bg1:hover {
  background-color: #163363;
}

.bg2 {
  background-color: #143646;
  transition: all ease-in-out 0.3s;
}

.bg2:hover {
  background-color: #0f2a36;
}

.bg3 {
  background-color: #F48B30;
  transition: all ease-in-out 0.3s;
}

.bg3:hover {
  background-color: #ce660b;
}

.bg4 {
  background-color: #9E4DC3;
  transition: all ease-in-out 0.3s;
}

.bg4:hover {
  background-color: #741d9d;
}

.bg5 {
  background-color: #FD9339;
  transition: all ease-in-out 0.3s;
}

.bg5:hover {
  background-color: #ee750b;
}

.bg6 {
  background-color: #E2E2E4;
  transition: all ease-in-out 0.3s;
}

.bg6:hover {
  background-color: #cccce7;
}

.bg7 {
  background-color: #C71C36;
  transition: all ease-in-out 0.3s;
}

.bg7:hover {
  background-color: #ac0921;
}

.bg8 {
  background-color: #DCF3F9;
  transition: all ease-in-out 0.3s;
}

.bg8:hover {
  background-color: #c0e9f3;
}

.bg9 {
  background-color: #EAEAEA;
  transition: all ease-in-out 0.3s;
}

.bg9:hover {
  background-color: #eddcdc;
}

.bg10 {
  background-color: #282240;
  transition: all ease-in-out 0.3s;
}

.bg10:hover {
  background-color: #1d1737;
}

.bg11 {
  background-color: #1D4568;
  transition: all ease-in-out 0.3s;
}

.bg11:hover {
  background-color: #0d3354;
}

.bg12 {
  background-color: #000000;
  transition: all ease-in-out 0.3s;
}

.bg12:hover {
  background-color: #201b1b;
}