@import "reset"
@import "variables"

html 
    font-family: 'Montserrat', sans-serif
    font-size: 16px
    scroll-behavior: smooth
    overflow-x: hidden
.container1 
    max-width: 1920px
    padding: 0 160px
    margin: 0 auto
    @media screen and (max-width: 1700px)
        padding: 0 60px
.container2 
    max-width: 1920px
    padding: 0 100px
    margin: 0 auto
    @media screen and (max-width: 1700px)
        padding: 0
.bg-gradient 
    background: rgb(50,50,100)
    background: -moz-linear-gradient(231deg, rgba(50,50,100,1) 0%, rgba(50,50,100,1) 50%, rgba(100,62,114,1) 100%)
    background: -webkit-linear-gradient(231deg, rgba(50,50,100,1) 0%, rgba(50,50,100,1) 50%, rgba(100,62,114,1) 100%)
    background: linear-gradient(231deg, rgba(50,50,100,1) 0%, rgba(50,50,100,1) 50%, rgba(100,62,114,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323264",endColorstr="#643e72",GradientType=1)
    border-radius: 0 0 1% 1% 
    box-shadow: 0px 17px 0px -7px #cacadb, 0px 39px 1px -17px #e7e7f2
.header 
    position: relative
    height: 92vh
    &__team 
        display: flex
        justify-content: space-between
        align-items: flex-start
        color: white  
        @media screen and (max-width: 850px)
            max-width: 648px  
        &-logo 
            padding-top: 50px
            display: flex
            z-index: 1
        &-h 
            display: flex
            justify-content: center
            margin: 0 auto
            img 
                position: absolute
                padding-left: 400px
                height: 95vh
                width: auto
            h1
                height: 96vh
                left: 38%
                position: absolute
                display: flex
                align-items: center
                font-size: 1.9rem
                font-weight: 700
                justify-content: center
                @media screen and (min-width: 2200px)
                    left: 36%
                    font-size: 2.5rem
                @media screen and (max-width: 1600px)
                    left: 35%
                @media screen and (max-width: 1024px)
                    left: 33%
        &-right 
            display: flex
            align-items: flex-end
            flex-direction: column
            z-index: 1
        
            &-group
                display: flex
                align-items: center
                padding-top: 55px
            
                &-leng a:last-of-type
                    padding-right: 11px
                    margin-right: 6px
                &-leng a 
                    border: 1px solid transparent
                    padding: 6px 7px
                    border-radius: 8px
                    transition: all ease-in-out 0.3s
                &-leng a:hover 
                    border: 1px solid $accent-pink
                    background-color: $accent-pink
                &-leng ul
                    display: flex
                    a 
                        text-decoration: none
                        color: white
                        font-weight: 700
                        font-size: 0.825rem
                        padding-left: 11px
                &-dotted 
                    padding: 0 10px 7px                
                &-number a 
                    padding-right: 5px
                    font-weight: 700
                    font-size: 1rem
                    color: white
                    text-decoration: none
                &-city 
                    padding-right: 5px
                    font-size: 1rem
                
                &-facebook 
                    display: block
                
            &-list 
                display: flex
                padding-top: 19px
            
                ul 
                    display: flex
                
                a 
                    text-decoration: none
                    color: white
                    padding-left: 15px
                    font-weight: 700
                    font-size: 1rem
                    transition: all ease-in-out 0.3s
                a:hover 
                    color: $accent-pink
                
    &__arrow  
        position: absolute
        left: 0 
        right: 0
        bottom: 0 
        text-align: center
        i
            border: 1px solid white
            border-radius: 50px
            padding: 9px 10px
            transition: all ease-in-out 0.3s
            &:hover
                border-color: $accent-pink
        .fa-solid 
            color: white
            transition: all ease-in-out 0.3s
            &:hover
                color: $accent-pink


.main
    &__nav
        display: flex
        justify-content: space-around
        margin-top: 90px
        padding: 0 43px 85px
        align-items: center
        @media screen and (max-width: 1200px)
            padding: 0 0px 85px
        @media screen and (max-width: 1000px)
            flex-direction: column
            align-items: none
        &-left 
            padding-left: 130px
            @media screen and (max-width: 1880px)
                padding-left: 60px
            @media screen and (max-width: 1500px)
                padding-left: 0
            &-tab
                display: flex
                flex-direction: column
                font-size: 2.4rem
                font-weight: 700
                color: #B3B3BA
                text-decoration: none
                line-height: 46px
                padding: 0 15px 10px 15px
                text-align: right
                transition: all ease-in-out 0.3s
                @media screen and (max-width: 1000px)
                    flex-direction: row
                    white-space: nowrap
                &:hover
                    color: #F0145A 
                    background: none
                &:first-of-type
                    display: flex
                    flex-direction: column
                    font-size: 2.4rem
                    font-weight: 700
                    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%)
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent
                    text-decoration: none
                    transition: all ease-in-out 0.3s
        &-border
            border-right: 4px solid $grey-mainnav
            padding-top: 30px
            height: 303px
            padding-left: 50px
            @media screen and (max-width: 1000px)
                border-top: 4px solid $grey-mainnav
                border-right: none
                width: 648px
                margin-top: 60px
                height: 0
                padding-top: 60px
        &-right
            display: flex
            flex-direction: column
            color: $grey-mainnav
            padding-left: 50px
            margin: 0 auto
            @media screen and (max-width: 1300px)
                max-width: 405px
            &-tab
                &-title
                    font-size: 1.625rem
                    font-weight: 700
                    padding-bottom: 30px
                    @media screen and (max-width: 1880px)
                        max-width: 700px
                    @media screen and (max-width: 1500px)
                        max-width: 581px
                    @media screen and (max-width: 1000px)
                        max-width: 750px
                    @media screen and (max-width: 850px)
                        max-width: 648px
                &-desc
                    font-size: 1.1rem
                    max-width: 861px
                    @media screen and (max-width: 1880px)
                        max-width: 700px
                    @media screen and (max-width: 1500px)
                        max-width: 581px
                    @media screen and (max-width: 1000px)
                        max-width: 750px
                    @media screen and (max-width: 850px)
                        max-width: 648px
                    @media screen and (max-width: 700px)
                        max-width: 400px
                    @media screen and (max-width: 415px)
                        max-width: 315px
    &__service
        display: flex
        flex-direction: column
        &-services h3
            font-size: 0.85rem
            color: $grey-text
            transition: all ease-in-out 0.3s
            padding-bottom: 10px
        &-services h3:hover
                color: $accent-pink
        &-title h2
            font-size: 2.4rem
            font-weight: 700
            color: #F0145A
            padding-bottom: 60px
        &-group
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            &-item
                display: flex
                flex-direction: column
                max-width: 31%
                padding: 0 30px 87px 0
                flex-wrap: wrap
                @media screen and (max-width: 1100px)
                    padding: 0 10px 87px 0
                @media screen and (max-width: 850px)
                    max-width: 50%
                &-item:nth-of-type(3n)
                    padding-right: 0   
                &-foto img
                        max-width: 92px
                        height: auto
                        padding-bottom: 30px
                &-title
                    padding-bottom: 15px
                    @media screen and (max-width: 1170px)
                        max-width: 250px
                    @media screen and (max-width: 850px)
                        max-width: 294px
                    a
                        font-size: 1.4rem
                        font-weight: 700
                        color: $active-regular
                        transition: all ease-in-out 0.3s
                        text-decoration: none
                        &:hover
                            color: $accent-pink
                        
                &-desc
                    font-size: 1rem
                    color: $grey-mainnav
                    max-width: 493px
                    line-height: 26px
                    padding-top: 15px
                    @media screen and (max-width: 1450px)
                        max-width: 350px
                    @media screen and (max-width: 1250px)
                        max-width: 300px
                    @media screen and (max-width: 1170px)
                        max-width: 230px
                    @media screen and (max-width: 1050px)
                        max-width: 261px
                    @media screen and (max-width: 850px)
                        max-width: 294px
    &__slider
        display: flex
        justify-content: center
        align-items: center
        background-color: $grey-bg
        margin-top: 60px
        border: 1px solid transparent
        border-radius: 20px
        &-man
            height: auto
            border-radius: 1% 0 0 1%
            img
                width: 400px
                height: 298px
                object-fit: cover 
                border-radius: 4% 0 0 4%  
                @media screen and (max-width: 1530px)
                    width: 400px
                    height: 344px
                @media screen and (max-width: 1415px)
                    width: 400px
                    height: 528px
                    object-fit: cover 
        &-card
            display: flex
            flex-direction: column
            padding-left: 30px
            padding-right: 30px
            &-team
                font-size: 0.85rem
                color: $active-regular
                padding-bottom: 5px
                padding-top: 17px
                &:hover
                    color:$accent-pink
            &-desc h2
                font-size: 2.4rem
                font-weight: 700
                background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                background-clip: text
                text-fill-color: transparent
                padding-bottom: 60px
                max-width: 1140px
                line-height: 46.32px
            &-name
                color: $grey-text
                font-size: 1rem
                font-weight: 700
                padding-bottom: 6px
            &-position
                color: $grey-text
                font-size: 0.85rem
                font-weight: 400
                padding-bottom: 30px
    &__group
        padding-top: 60px
        margin-bottom: 60px
        @media screen and (max-width: 1700px)
            margin-bottom: 0
        &-title
            text-transform: uppercase
            font-size: 0.85rem
            font-weight: 700
            color: $main-blue
            text-align: center
            padding-bottom: 30px    
        &-sponsor
            display: flex
            flex-wrap: wrap
            justify-content: center
            width: 100%
            &-item
                display: flex
                justify-content: center
                align-items: center
                width: 25%
                height: 120px
                &:nth-of-type(1)
                    border-radius: 10px 0 0 0
                    @media screen and (max-width: 1700px)
                        border-radius: 0 
                &:nth-of-type(4)
                    border-radius: 0 10px 0 0
                    @media screen and (max-width: 1700px)
                        border-radius: 0
                &:nth-of-type(9)
                    border-radius: 0 0 0 10px
                    @media screen and (max-width: 1700px)
                        border-radius: 0
                &:nth-of-type(12)
                    border-radius: 0 0 10px 0
                    @media screen and (max-width: 1700px)
                        border-radius: 0
                img 
                    max-width: 200px
                @media screen and (max-width: 850px)
                    width: 33.3333%
    &__articles
        display: flex
        flex-direction: column
        padding-top: 30px
        &-publication
            font-size: 0.825rem
            font-weight: 700
            padding-bottom: 10px
            color: $active-regular
            transition: all ease-in-out 0.3s
            text-transform: uppercase
            &:hover
                color:$accent-pink                
        &-title            
            font-size: 2.4rem
            font-weight: 700
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            background-clip: text
            text-fill-color: transparent
            padding-bottom: 30px        
        &-card
            display: flex
            justify-content: space-between
            padding-bottom: 30px
            flex-wrap: wrap
            &-group
                display: flex
                flex-direction: column
                background-color: white
                border-radius: 8px
                border: 1px solid transparent
                margin-bottom: 30px
                @media screen and (max-width: 1000px)
                    &:nth-of-type(3)
                        max-width: 648px
                        display: flex
                &-wrapper
                    padding: 30px
                &-foto img
                    max-width: 513px
                    height: auto
                    @media screen and (max-width: 1900px)    
                        max-width: 450px 
                    @media screen and (max-width: 1700px)
                        max-width: 420px
                    @media screen and (max-width: 1450px)
                        max-width: 320px
                        height: 200px
                        object-fit: cover 
                    @media screen and (max-width: 1250px)
                        max-width: 281px
                        height: 200px
                        object-fit: cover 
                &-text
                    padding-bottom: 15px
                    max-width: 453px
                    a
                        font-weight: 700
                        font-size: 1rem
                        line-height: 19.5px
                        color:$active-regular
                        transition: all ease-in-out 0.3s
                        text-decoration: none
                        &:hover
                            color: $accent-pink 
                    @media screen and (max-width: 1900px)    
                        max-width: 390px 
                    @media screen and (max-width: 1700px)
                        max-width: 360px
                    @media screen and (max-width: 1450px)
                        max-width: 220px 
                &-data
                    letter-spacing: 1px
                    font-size: 0.725rem
                    font-weight: 700
                    color: $grey-text
                    padding-bottom: 15px
                    text-transform: uppercase
                &-border
                    color: $grey-separator
                    border-top: 4px solid $grey-separator
                    padding-bottom: 15px
                    max-width: 453px
                    @media screen and (max-width: 1900px)    
                        max-width: 390px 
                    @media screen and (max-width: 1700px)
                        max-width: 360px
                    @media screen and (max-width: 1450px)
                        max-width: 220px
                &-desc
                    font-size: 0.825rem
                    font-weight: 400
                    line-height: 22px
                    overflow: hidden
                    max-width: 453px
                    @media screen and (max-width: 1900px)    
                        max-width: 390px 
                    @media screen and (max-width: 1700px)
                        max-width: 360px
                    @media screen and (max-width: 1450px)
                        max-width: 220px
    &__border
        border-top: 2px solid $grey-separator
        padding-bottom: 30px
.footer
    display: flex
    flex-direction: column
    &__nav
        display: flex
        justify-content: space-between
        padding-bottom: 21px
        &-left
            display: flex
            align-items: center
            justify-content: flex-start
            &-city
                font-size: 1rem
                font-weight: 400
                line-height: 19.5px
            &-dotted
                padding: 0 10px 7px
            &-map
                letter-spacing: 1px
                font-weight: 700
                line-height: 14.63px
                font-size: 0.7rem
                text-transform: uppercase
                a
                    color: $active-regular
                    text-decoration: none
                    transition: all ease-in-out 0.3s
                    &:hover
                        color:$accent-pink
        &-right
            display: flex
            align-items: flex-end
            a
                color:$grey-text
                text-decoration: none
                font-size: 1rem
                line-height: 19.5px
                font-weight: 400
    &__bottom
        display: flex
        justify-content: flex-start
        align-items: center
        padding-bottom: 30px
        &-dotted
            padding: 0 10px 7px
        &-phone a
            font-size: 1rem
            font-weight: 700
            line-height: 19.5px
            color: $main-blue-grey
            text-decoration: none
        &-mail
            font-size: 1rem
            font-weight: 700
            line-height: 19.5px
            a
                color: $active-regular
                text-decoration: none
                transition: all ease-in-out 0.3s
                &:hover
                    color:$accent-pink
.content 
    display: none
    &.active 
        display: block
.buttonWrapper
    display: flex
    flex-direction: column
    align-items: flex-end
    padding: 0
    @media screen and (max-width: 1000px)
        overflow-x: scroll
        display: flex
        flex-direction: none
        flex-direction: row
        max-width: 900px
        height: auto
        &::-webkit-scrollbar 
            width: 10px
        &::-webkit-scrollbar-track 
            background: $main-blue
        &::-webkit-scrollbar-thumb 
            background-color: $main-blue-grey
            border: 3px solid $main-blue
            transition: all ease-in-out 0.3s
            &:hover
                background-color: $main-grey
    @media screen and (max-width: 901px)
        max-width: 750px
    @media screen and (max-width: 751px)
        max-width: 500px
    @media screen and (max-width: 501px)
        max-width: 300px
    button
        border: none
        background: transparent
.popup 
    position: fixed
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.3294117647)
    top: 0
    left: 0
    z-index: 1
    opasity: 0
    visibility: hidden
    &:target 
        opasity: 1
        visibility: visible
    &__area 
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
    &__body 
        min-height: 100%
        display: flex
        align-items: center
        justify-content: center
        &-content 
            background-color: #fff
            color: black
            mx-width: 800px
            padding: 30px 20px
            position: relative
            &-close 
                position: absolute
                right: 10px
                top: 10px
                font-size: 1.4rem
                font-weight: 700
                color: #000
                text-decoration: none
body::-webkit-scrollbar 
    width: 10px
body::-webkit-scrollbar-track 
    background: $main-blue
body::-webkit-scrollbar-thumb 
    background-color: $main-blue-grey
    border: 3px solid $main-blue
    transition: all ease-in-out 0.3s
    &:hover
        background-color: $main-grey
