$main-blue: #323264
$main-blue-grey: #46466E
$main-grey: #686887

$accent-pink:#F0145A

$active-regular: #24A3FF
$active-hover: #0085FF
$active-active: #006CCF

$grey-bg: #F5F5FA
$grey-bgalt: #EDEDF7
$grey-text: #B3B3BA
$grey-separator: #E6E6F0
$grey-mainnav: #FFFFFF

.bg-publication
    background-color: $grey-bg
.bg1 
    background-color: #1C4280
.bg2 
    background-color:#143646
.bg3 
    background-color:#F48B30
.bg4
    background-color:#9E4DC3
.bg5 
    background-color:#FD9339
.bg6 
    background-color:#E2E2E4
.bg7 
    background-color:#C71C36
.bg8 
    background-color:#DCF3F9
.bg9 
    background-color:#EAEAEA
.bg10 
    background-color:#282240
.bg11
    background-color:#1D4568
.bg12 
    background-color:#000000